asttokens
colorama
comm
comtypes
contourpy
PySide6
cycler
debugpy
decorator
diskcache
executing
filelock
fonttools
fsspec
ipykernel
ipython
ipython_pygments_lexers
jedi
Jinja2
joblib
jupyter_client
jupyter_core
keyboard
kiwisolver
llama_cpp_python
MarkupSafe
matplotlib
matplotlib-inline
mpmath
nest-asyncio
networkx
numpy
packaging
pandas
parso
pillow
pip
platformdirs
prompt_toolkit
psutil
pure_eval
Pygments
pyparsing
pypiwin32
pyserial
pytest
python-dateutil
pyttsx3
pywin32
pyzmq
scikit-learn
scipy
seaborn
setuptools
six
stack-data
sympy
threadpoolctl
torch
torchvision
tornado
traitlets
typing_extensions
tzdata
wcwidth
